In [2]:
--1. Create a scalar function that takes a date and returns the Month name of that date. test (‘1/12/2009’)
create function MonthNameFunc (@InputDate date)
returns nvarchar(10)
as
begin
	declare @monthName nvarchar(10)
	set @monthName = FORMAT(@InputDate, 'MMMM')
	return @monthName
end

: Msg 2714, Level 16, State 3, Procedure MonthNameFunc, Line 2
There is already an object named 'MonthNameFunc' in the database.

In [17]:
declare @InputDate date = '1/12/2009'
select dbo.MonthNameFunc(@InputDate) as 'MonthName'

MonthName
January

In [20]:
--2. Create a multi-statements table-valued function that takes 2 integers and returns the values between them.
--just between a and b
--create or 
alter function dbo.Numbers_from_Start_to_end(@start int, @end int)
returns @output table(Numbers int)
as
begin
	declare @current int = @start + 1
	while @current < @end
	begin
		
		insert into @output(Numbers) values(@current)		
		set @current += 1
		
	end
return
end

In [21]:
select Numbers from dbo.Numbers_from_Start_to_end(1, 12)

Numbers
2
3
4
5
6
7
8
9
10
11

In [23]:
--3. Create a tabled valued function that takes Student No and returns Department Name with Student full name.

create or ALTER FUNCTION StudentName_Dep(@id INT)
RETURNS TABLE
AS
RETURN
(
    SELECT std.St_Id, std.St_Fname + ' ' + std.St_Lname AS 'Full Name', dep.Dept_Name
    FROM Student std
    JOIN Department dep ON dep.Dept_Id = std.Dept_Id
    WHERE std.St_Id = @id
)

In [24]:
select * from dbo.StudentName_Dep(1)

St_Id,Full Name,Dept_Name
1,Ahmed Hassan,SD

In [25]:
/*4.	Create a scalar function that takes Student ID and returns a message to the user (use Case statement)
a.	If the first name and Last name are null then display 'First name & last name are null'
b.	If the First name is null then display 'first name is null'
c.	If the Last name is null then display 'last name is null'
d.	Else display 'First name & last name are not null'*/

create or alter function Message(@id int)
returns varchar(30)
begin
	declare @mess varchar(30)
	select @mess = case
		when std.St_Fname is null then 'first name is null'
		when std.St_Lname is null then 'last name is null'
		else 'First name & last name are null'
		end
	from Student std
	where std.St_Id = @id	
	return @mess
end

In [27]:
select dbo.Message(1) as MESSAGE

MESSAGE
First name & last name are nul

In [3]:
/*5.Create a function that takes an integer that represents the format of the Manager hiring date and displays department
name, Manager Name, and hiring date with this format.  */
create or alter function Manager(@hiringDate int)
returns table
as return
(
select dep.Dnum, dep.Dname, dep.MGRSSN, emp.Fname, CONVERT(varchar, dep.[MGRStart Date], @hiringDate) as HiringDate
from Departments dep
join Employee emp
on emp.SSN = dep.MGRSSN
)

In [2]:
select * from Manager(101)

Dnum,Dname,MGRSSN,Fname,HiringDate
10,DP1,223344,Kamel,10/10/2022
20,DP2,968574,Noha,01/03/2006
30,DP3,512463,Edward,01/06/2006

In [4]:
select * from Manager(131)

Dnum,Dname,MGRSSN,Fname,HiringDate
10,DP1,223344,Kamel,15/03/1444 12:00:00:000AM
20,DP2,968574,Noha,3/12/1426 12:00:00:000AM
30,DP3,512463,Edward,6/12/1426 12:00:00:000AM

In [36]:

/*6.	Create multi-statements table-valued function that takes a string
If string='first name' returns student first name
If string='last name' returns student last name 
If string='full name' returns Full Name from student table 
Note: Use the “ISNULL” function
*/


create or alter function Name(@string varchar(20))
returns @result table (Name varchar(30))
begin
	declare @name varchar(30)
	
	if @string = 'first name' 
	begin
		insert into @result 
		select ISNULL(St_Fname, 'No first Name Extists')
		from student
	end	
	else if @string = 'last name' 
	begin
		insert into @result
		select ISNULL(St_Lname, 'No last Name Extists' ) 
		from Student
	end
	else if	@string = 'full name' 
	begin
		insert into @result
		select ISNULL(St_Fname, '') + ' ' +  ISNULL(St_Lname, ' ') as FullName
		from Student
	end
	
	return
	end

In [34]:
select * from dbo.Name('last name')

Name
Hassan
Magdy
Saleh
Mohamed
Moahmed
Farouk
Hussien
Fars
Ahmed
Ali
Ahmed
Omar
No last Na
Saleh
No last Na

In [35]:
select * from dbo.Name('first name')

Name
Ahmed
Amr
Mona
Ahmed
Khalid
Heba
Ali
Mohamed
Saly
Fady
Marwa
Noha
Said
No first Name Extist
Nada

In [32]:
select * from dbo.Name('full name')

Name
Ahmed Hassan
Amr Magdy
Mona Saleh
Ahmed Mohamed
Khalid Moahmed
Heba Farouk
Ali Hussien
Mohamed Fars
Saly Ahmed
Fady Ali
Marwa Ahmed
Noha Omar
Said
Saleh
Nada

In [37]:
/*
7.	Write a query that returns the Student No and Student first name without the last char
*/
select std.St_Id, substring(St_Fname,1, len(St_Fname) - 1)
from Student std

St_Id,(No column name)
1,Ahme
2,Am
3,Mon
4,Ahme
5,Khali
6,Heb
7,Al
8,Mohame
9,Sal
10,Fad
11,Marw
12,Noh
13,Sai
14,NULL
23,Nad

In [39]:
/*1. Create a function that takes project number and display all employees in this project*/

create or alter function projectNumber(@projNum int)
returns table 
as return
(
select emp.Fname
from Employee emp
join Works_for wf
on emp.SSN = wf.ESSn
where wf.Pno = @projNum
)

In [40]:
select * from projectNumber(100)

Fname
Ahmed
Kamel

In [41]:
/*2.write a Query that computes the increment in salary that arises if the salary of employees increased by any value*/
--Calculate increment of salary by percent
SELECT ssn, Salary, (Salary * 0.1) AS SalaryIncrement
FROM Employee;

ssn,Salary,SalaryIncrement
102672,3600,360.0
102673,3100,310.0
112233,1400,140.0
123456,800,80.0
223344,1800,180.0
321654,2500,250.0
512463,1500,150.0
521634,1000,100.0
669955,750,75.0
968574,1600,160.0

In [ ]:
-- create new column named NewSalary and calculate the increment
alter table employee
add  NewSalary int

update employee
SET NewSalary = Salary;
update Employee
set NewSalary+=100

In [42]:
SELECT ssn, Salary, NewSalary, NewSalary - Salary AS SalaryIncrement
FROM Employee;

ssn,Salary,NewSalary,SalaryIncrement
102672,3600,3700,100
102673,3100,3200,100
112233,1400,1500,100
123456,800,900,100
223344,1800,1900,100
321654,2500,2600,100
512463,1500,1600,100
521634,1000,1100,100
669955,750,850,100
968574,1600,1700,100