In [5]:
--1. Display the name of the departments and the name of the projects under its control.
select dep.Dname, proj.Pname
from departments dep
join Project proj
on dep.Dnum = proj.Dnum

Dname,Pname
DP1,AL Solimaniah
DP1,Al Rabwah
DP1,Al Rawdah
DP2,Al Rowad
DP3,Al Rehab
DP3,Pitcho american
DP2,Ebad El Rahman

In [6]:
--2.Display the full data about all the dependence associated with the name of the employee
--they depend on him/her
select emp.Fname + ' ' + emp.Lname as 'EmpName' , depn.*
from Employee emp 
join Dependent depn
on depn.ESSN = emp.SSN

EmpName,ESSN,Dependent_name,Gender,Bdate
Ahmed Ali,112233,Hala Saied Ali,F,1970-10-18 00:00:00.000
Kamel Mohamed,223344,Ahmed Kamel Shawki,M,1998-03-27 00:00:00.000
Kamel Mohamed,223344,Mona Adel Mohamed,F,1975-04-25 00:00:00.000
Amr Omran,321654,Omar Amr Omran,M,1993-03-30 00:00:00.000
Amr Omran,321654,Ramy Amr Omran,M,1990-01-26 00:00:00.000
Amr Omran,321654,Sanaa Gawish,F,1973-05-16 00:00:00.000
Edward Hanna,512463,Nora Ghaly,F,1976-06-22 00:00:00.000
Edward Hanna,512463,Sara Edward,F,2001-09-15 00:00:00.000

In [7]:
--3.Display the Id, name and location of the projects in Cairo or Alex city.
select Pnumber, Pname, Plocation
from Project
where Plocation like '%Cairo%' or Plocation like '%Alex%'

Pnumber,Pname,Plocation
100,AL Solimaniah,Cairo_Alex Road
400,Al Rowad,Cairo_Faiyom Road

In [8]:
---4.display all the employees in department 30 whose salary from 1000 to 2000 LE monthly
select emp.*
from Employee emp
join Departments dep
on dep.Dnum = emp.Dno
where Dno = 30 and Salary between 1000 and 2000

Fname,Lname,SSN,Bdate,Address,Gender,Salary,Superssn,Dno
Edward,Hanna,512463,1972-08-19 00:00:00.000,18 Abaas El 3akaad St. Nasr City.Cairo,M,1500,321654,30
Maged,Raoof,521634,1980-06-04 00:00:00.000,18 Kholosi st.Shobra.Cairo,M,1000,968574,30

In [9]:
--5. Retrieve the names of all employees in department 10 who works more than or equal10 hours per week on "AL Rabwah" project.
select emp.Fname + ' ' + emp.Lname as Name
from Employee emp
join Works_for wf
    on emp.SSN = wf.ESSn 
join Project proj
    on proj.Pnumber = wf.Pno
where emp.Dno = 10
    and wf.Hours >= 10
    and proj.Pname = 'AL Rabwah'

Name
Kamel Mohamed

In [11]:
--6. Find the names of the employees who directly supervised with Kamel Mohamed
select emp.*
from Employee supervise
join Employee emp 
on emp.SSN = supervise.SSN
where emp.Superssn = (select ssn from Employee where Fname =  'Kamel')

Fname,Lname,SSN,Bdate,Address,Gender,Salary,Superssn,Dno
Ahmed,Ali,112233,1965-01-01 00:00:00.000,15 Ali fahmy St.Giza,M,1300,223344,NULL
Hanaa,Sobhy,123456,1973-03-18 00:00:00.000,38 Abdel Khalik Tharwat St. Downtown.Cairo,F,800,223344,NULL

In [10]:
--7. Retrieve the names of all employees and the names of the projects they are working on, sorted by the project name
select emp.Fname + ' ' + emp.Lname as 'Name', proj.Pname
from Employee emp
join Works_for wf 
on emp.SSN = wf.ESSn
join Project proj
on proj.Pnumber = wf.Pno
--group by emp.SSN
order by proj.Pname

Name,Pname
Kamel Mohamed,Al Rabwah
Kamel Mohamed,Al Rawdah2
Maged Raoof,Al Rawdah2
Mariam Adel,Al Rawdah2
Noha Mohamed,Al Rawdah2
Kamel Mohamed,Al Rehab
Edward Hanna,Al Rehab
Maged Raoof,Al Rehab
Maged Raoof,Al Rowad
Mariam Adel,Al Rowad
Noha Mohamed,Al Rowad
Ahmed Ali,AL Solimaniah
Kamel Mohamed,AL Solimaniah
Mariam Adel,Ebad El Rahman
Noha Mohamed,Ebad El Rahman
Edward Hanna,Pitcho american
Maged Raoof,Pitcho american

In [12]:
--8. For each project located in Cairo City, find the project number, the controlling department name ,the department manager last name ,address and birthdate.
select proj.Pnumber as 'project Number', proj.Dnum as 'Department Number', emp.Lname as 'Manager Last Name', emp.Address as 'Manager Address', emp.Bdate as 'Manager Birthdate'
from Project proj
join Works_for wf
on proj.Pnumber = wf.Pno
join Employee emp 
on emp.SSN = wf.ESSn
join Departments dep 
on emp.SSN = dep.MGRSSN
where proj.Plocation like '%Cairo%'

project Number,Department Number,Manager Last Name,Manager Address,Manager Birthdate
100,10,Mohamed,38 Mohy el dien abo el Ezz St.Cairo,1970-10-15 00:00:00.000
400,20,Mohamed,55 Orabi St. El Mohandiseen .Cairo,1975-01-02 00:00:00.000

In [1]:
---9. Display All Data of the mangers
select dep.MGRSSN, emp.*
from Employee emp
join Departments dep
on emp.SSN = dep.MGRSSN

MGRSSN,Fname,Lname,SSN,Bdate,Address,Gender,Salary,Superssn,Dno
223344,Kamel,Mohamed,223344,1970-10-15 00:00:00.000,38 Mohy el dien abo el Ezz St.Cairo,M,1800,321654,10
968574,Noha,Mohamed,968574,1975-01-02 00:00:00.000,55 Orabi St. El Mohandiseen .Cairo,F,1600,321654,20
512463,Edward,Hanna,512463,1972-08-19 00:00:00.000,18 Abaas El 3akaad St. Nasr City.Cairo,M,1500,321654,30

In [2]:
---10. Display All Employees data and the data of their dependents even if they have no dependents
select emp.*, depn.*
from Employee emp
left outer join Dependent depn
on emp.SSN = depn.ESSN

Fname,Lname,SSN,Bdate,Address,Gender,Salary,Superssn,Dno,ESSN,Dependent_name,Gender,Bdate
Sohila,Mohey,102672,1894-07-14 00:00:00.000,"Abo Qurkas, Minia",F,3600,112233,30,NULL,NULL,NULL,NULL
Nahe,Ahmed,102673,1894-07-07 00:00:00.000,Minia,F,3100,112233,30,NULL,NULL,NULL,NULL
Ahmed,Ali,112233,1965-01-01 00:00:00.000,15 Ali fahmy St.Giza,M,1300,223344,NULL,112233,Hala Saied Ali,F,1970-10-18 00:00:00.000
Hanaa,Sobhy,123456,1973-03-18 00:00:00.000,38 Abdel Khalik Tharwat St. Downtown.Cairo,F,800,223344,NULL,NULL,NULL,NULL,NULL
Kamel,Mohamed,223344,1970-10-15 00:00:00.000,38 Mohy el dien abo el Ezz St.Cairo,M,1800,321654,10,223344,Ahmed Kamel Shawki,M,1998-03-27 00:00:00.000
Kamel,Mohamed,223344,1970-10-15 00:00:00.000,38 Mohy el dien abo el Ezz St.Cairo,M,1800,321654,10,223344,Mona Adel Mohamed,F,1975-04-25 00:00:00.000
Amr,Omran,321654,1963-09-14 00:00:00.000,44 Hilopolis.Cairo,M,2500,NULL,NULL,321654,Omar Amr Omran,M,1993-03-30 00:00:00.000
Amr,Omran,321654,1963-09-14 00:00:00.000,44 Hilopolis.Cairo,M,2500,NULL,NULL,321654,Ramy Amr Omran,M,1990-01-26 00:00:00.000
Amr,Omran,321654,1963-09-14 00:00:00.000,44 Hilopolis.Cairo,M,2500,NULL,NULL,321654,Sanaa Gawish,F,1973-05-16 00:00:00.000
Edward,Hanna,512463,1972-08-19 00:00:00.000,18 Abaas El 3akaad St. Nasr City.Cairo,M,1500,321654,30,512463,Nora Ghaly,F,1976-06-22 00:00:00.000
Edward,Hanna,512463,1972-08-19 00:00:00.000,18 Abaas El 3akaad St. Nasr City.Cairo,M,1500,321654,30,512463,Sara Edward,F,2001-09-15 00:00:00.000
Maged,Raoof,521634,1980-06-04 00:00:00.000,18 Kholosi st.Shobra.Cairo,M,1000,968574,30,NULL,NULL,NULL,NULL
Mariam,Adel,669955,1982-12-06 00:00:00.000,269 El-Haram st. Giza,F,750,512463,20,NULL,NULL,NULL,NULL
Noha,Mohamed,968574,1975-01-02 00:00:00.000,55 Orabi St. El Mohandiseen .Cairo,F,1600,321654,20,NULL,NULL,NULL,NULL

In [3]:
--11.For each project, list the project name and the total hours per week (for all employees) spent on that project.
select proj.Pname, sum(hours)
from Works_for wf
join Project proj
on proj.Pnumber = wf.Pno
group by Pname

Pname,(No column name)
Al Rabwah,10
Al Rawdah2,36
Al Rehab,30
Al Rowad,39
AL Solimaniah,50
Ebad El Rahman,22
Pitcho american,45

In [4]:
---12.Display the data of the department which has the smallest employee ID over all employees' ID.
select dep.*
from Employee emp
join Departments dep
on dep.Dnum = emp.Dno
--group by dep.Dnum
where emp.ssn = (select min(SSN) from Employee)

Dname,Dnum,MGRSSN,MGRStart Date
DP3,30,512463,2006-01-06 00:00:00.000

In [5]:
---13.	For each department, retrieve the department name and the maximum, minimum and average salary of its employees.
select dep.Dnum ,min(emp.Salary) as MinSalary, max(emp.salary) as MaxSalary
from Departments dep
join Employee emp
on dep.Dnum = emp.Dno
group by dep.Dnum

Dnum,MinSalary,MaxSalary
10,1800,1800
20,750,1600
30,1000,3600

In [6]:
--14.For each department-- if its average salary is less than the average salary of all employees-- display its number, name and 
--number of its employees.
SELECT d.Dnum, d.Dname, COUNT(e.SSN) AS NumberOfEmployees
FROM Departments d
JOIN Employee e 
ON d.Dnum = e.Dno
GROUP BY d.Dnum, d.Dname
HAVING AVG(e.Salary) < (
  SELECT AVG(Salary)
  FROM Employee
)

Dnum,Dname,NumberOfEmployees
20,DP2,2

In [7]:
--15. Try to get the max 2 salaries 
select top 2 salary
from Employee
order by Salary desc

salary
3600
3100