In [4]:
select * from Employee

Fname,Lname,SSN,Bdate,Address,Gender,Salary,Superssn,Dno
Ahmed,Ali,112233,1965-01-01 00:00:00.000,15 Ali fahmy St.Giza,M,1300,223344,NULL
Hanaa,Sobhy,123456,1973-03-18 00:00:00.000,38 Abdel Khalik Tharwat St. Downtown.Cairo,F,800,223344,NULL
Kamel,Mohamed,223344,1970-10-15 00:00:00.000,38 Mohy el dien abo el Ezz St.Cairo,M,1800,321654,10
Amr,Omran,321654,1963-09-14 00:00:00.000,44 Hilopolis.Cairo,M,2500,NULL,NULL
Edward,Hanna,512463,1972-08-19 00:00:00.000,18 Abaas El 3akaad St. Nasr City.Cairo,M,1500,321654,30
Maged,Raoof,521634,1980-06-04 00:00:00.000,18 Kholosi st.Shobra.Cairo,M,1000,968574,30
Mariam,Adel,669955,1982-12-06 00:00:00.000,269 El-Haram st. Giza,F,750,512463,20
Noha,Mohamed,968574,1975-01-02 00:00:00.000,55 Orabi St. El Mohandiseen .Cairo,F,1600,321654,20

In [ ]:
--DELETE from Employee where Fname = 'Sohila' or Fname = 'Nahe'

In [5]:
-- 2. Display the employee First name, last name, Salary and Department number
select Fname, Lname, Salary, Dno
from Employee

Fname,Lname,Salary,Dno
Ahmed,Ali,1300,NULL
Hanaa,Sobhy,800,NULL
Kamel,Mohamed,1800,10
Amr,Omran,2500,NULL
Edward,Hanna,1500,30
Maged,Raoof,1000,30
Mariam,Adel,750,20
Noha,Mohamed,1600,20

In [6]:
--3.Display all the projects names, locations and the department which is responsible about it
select Pname as 'Project Name' , 
       Plocation as [Project Location], 
       Dnum as "Department Number" 
from Project

Project Name,Project Location,Department Number
AL Solimaniah,Cairo_Alex Road,10
Al Rabwah,6th of October City,10
Al Rawdah,Zaied City,10
Al Rowad,Cairo_Faiyom Road,20
Al Rehab,Nasr City,30
Pitcho american,Maady,30
Ebad El Rahman,Ring Road,20

In [7]:
--4. If you know that the company policy is to pay an annual commission for each employee with specific percent 
-- equals 10% of his/her annual salary .
--Display each employee full name and his annual commission in an ANNUAL COMM column (alias).
select  Fname + ' ' + Lname as 'Full Name',
        (Salary * 12) / 10 as 'Annual Commision'
from Employee

Full Name,Annual Commision
Ahmed Ali,1560
Hanaa Sobhy,960
Kamel Mohamed,2160
Amr Omran,3000
Edward Hanna,1800
Maged Raoof,1200
Mariam Adel,900
Noha Mohamed,1920

In [8]:
--5. Display the employees Id, name who earns more than 1000 LE monthly.
select ssn, Fname + ' ' + Lname as 'Name'
from Employee
where Salary > 1000

ssn,Name
112233,Ahmed Ali
223344,Kamel Mohamed
321654,Amr Omran
512463,Edward Hanna
968574,Noha Mohamed

In [9]:
--6.	Display the employees Id, name who earns more than 10000 LE annually.
select ssn, Fname + ' ' + Lname as 'Name'
from Employee
where salary * 12 > 10000

ssn,Name
112233,Ahmed Ali
223344,Kamel Mohamed
321654,Amr Omran
512463,Edward Hanna
521634,Maged Raoof
968574,Noha Mohamed

In [10]:
--7. Display the names and salaries of the female employees 
select Fname + ' ' + Lname as 'Name', Salary
from employee
where Gender = 'F'

Name,Salary
Hanaa Sobhy,800
Mariam Adel,750
Noha Mohamed,1600

In [11]:
--8.	Display each department id, name which managed by a manager with id equals 968574.
SELECT Dnum, Dname
from Departments
where MGRSSN = 968574

Dnum,Dname
20,DP2

In [12]:
-- 9. Dispaly the ids, names and locations of  the pojects which controled with department 10.
select Pnumber, Pname, Plocation
from Project
where Dnum = 10

Pnumber,Pname,Plocation
100,AL Solimaniah,Cairo_Alex Road
200,Al Rabwah,6th of October City
300,Al Rawdah,Zaied City

In [13]:
SELECT * from Employee

Fname,Lname,SSN,Bdate,Address,Gender,Salary,Superssn,Dno
Ahmed,Ali,112233,1965-01-01 00:00:00.000,15 Ali fahmy St.Giza,M,1300,223344,NULL
Hanaa,Sobhy,123456,1973-03-18 00:00:00.000,38 Abdel Khalik Tharwat St. Downtown.Cairo,F,800,223344,NULL
Kamel,Mohamed,223344,1970-10-15 00:00:00.000,38 Mohy el dien abo el Ezz St.Cairo,M,1800,321654,10
Amr,Omran,321654,1963-09-14 00:00:00.000,44 Hilopolis.Cairo,M,2500,NULL,NULL
Edward,Hanna,512463,1972-08-19 00:00:00.000,18 Abaas El 3akaad St. Nasr City.Cairo,M,1500,321654,30
Maged,Raoof,521634,1980-06-04 00:00:00.000,18 Kholosi st.Shobra.Cairo,M,1000,968574,30
Mariam,Adel,669955,1982-12-06 00:00:00.000,269 El-Haram st. Giza,F,750,512463,20
Noha,Mohamed,968574,1975-01-02 00:00:00.000,55 Orabi St. El Mohandiseen .Cairo,F,1600,321654,20

In [14]:
--1. Insert your personal data to the employee table as a new employee in department number 30, SSN = 102672,
-- Superssn = 112233, salary=3000.
Insert into Employee values('Sohila', 'Mohey', 102672, 8-4-2001, 'Abo Qurkas, Minia', 'F', 3000, 112233, 30)

In [15]:
SELECT * from Employee

Fname,Lname,SSN,Bdate,Address,Gender,Salary,Superssn,Dno
Sohila,Mohey,102672,1894-07-14 00:00:00.000,"Abo Qurkas, Minia",F,3000,112233,30
Ahmed,Ali,112233,1965-01-01 00:00:00.000,15 Ali fahmy St.Giza,M,1300,223344,NULL
Hanaa,Sobhy,123456,1973-03-18 00:00:00.000,38 Abdel Khalik Tharwat St. Downtown.Cairo,F,800,223344,NULL
Kamel,Mohamed,223344,1970-10-15 00:00:00.000,38 Mohy el dien abo el Ezz St.Cairo,M,1800,321654,10
Amr,Omran,321654,1963-09-14 00:00:00.000,44 Hilopolis.Cairo,M,2500,NULL,NULL
Edward,Hanna,512463,1972-08-19 00:00:00.000,18 Abaas El 3akaad St. Nasr City.Cairo,M,1500,321654,30
Maged,Raoof,521634,1980-06-04 00:00:00.000,18 Kholosi st.Shobra.Cairo,M,1000,968574,30
Mariam,Adel,669955,1982-12-06 00:00:00.000,269 El-Haram st. Giza,F,750,512463,20
Noha,Mohamed,968574,1975-01-02 00:00:00.000,55 Orabi St. El Mohandiseen .Cairo,F,1600,321654,20

In [16]:
--2. Insert another employee with personal data your friend as new employee in department number 30, SSN = 102660, 
--but don’t enter any value for salary or manager number to him.
Insert into Employee values('Nahe', 'Ahmed', 102673, 7-11-2000, 'Minia', 'F', 3100, 112233, 30)

In [19]:
select * from Employee

Fname,Lname,SSN,Bdate,Address,Gender,Salary,Superssn,Dno
Sohila,Mohey,102672,1894-07-14 00:00:00.000,"Abo Qurkas, Minia",F,3600,112233,30
Nahe,Ahmed,102673,1894-07-07 00:00:00.000,Minia,F,3100,112233,30
Ahmed,Ali,112233,1965-01-01 00:00:00.000,15 Ali fahmy St.Giza,M,1300,223344,NULL
Hanaa,Sobhy,123456,1973-03-18 00:00:00.000,38 Abdel Khalik Tharwat St. Downtown.Cairo,F,800,223344,NULL
Kamel,Mohamed,223344,1970-10-15 00:00:00.000,38 Mohy el dien abo el Ezz St.Cairo,M,1800,321654,10
Amr,Omran,321654,1963-09-14 00:00:00.000,44 Hilopolis.Cairo,M,2500,NULL,NULL
Edward,Hanna,512463,1972-08-19 00:00:00.000,18 Abaas El 3akaad St. Nasr City.Cairo,M,1500,321654,30
Maged,Raoof,521634,1980-06-04 00:00:00.000,18 Kholosi st.Shobra.Cairo,M,1000,968574,30
Mariam,Adel,669955,1982-12-06 00:00:00.000,269 El-Haram st. Giza,F,750,512463,20
Noha,Mohamed,968574,1975-01-02 00:00:00.000,55 Orabi St. El Mohandiseen .Cairo,F,1600,321654,20

In [17]:
-- 3.Upgrade your salary by 20 % of its last value.
update employee
set Salary = (salary + (salary /5))
-- set Salary = (salary + (salary * .2))--
where ssn = 102672

In [18]:
select * 
from Employee
where ssn = 102672

Fname,Lname,SSN,Bdate,Address,Gender,Salary,Superssn,Dno
Sohila,Mohey,102672,1894-07-14 00:00:00.000,"Abo Qurkas, Minia",F,3600,112233,30