In [1]:
--1.Create a view that shows the project number and name along with the total number of hours worked on each project
create view Project_with_Hours
as 
select proj.Pnumber, proj.Pname, sum(wf.Hours) as TotalWorkingHours
from Project proj
join Works_for wf
on proj.Pnumber = wf.Pno
group by proj.Pnumber, proj.Pname

: Msg 2714, Level 16, State 3, Procedure Project_with_Hours, Line 1
There is already an object named 'Project_with_Hours' in the database.

In [2]:
select * from Project_with_Hours

Pnumber,Pname,TotalWorkingHours
100,AL Solimaniah,50
200,Al Rabwah,10
300,Al Rawdah2,36
400,Al Rowad,39
500,Al Rehab,30
600,Pitcho american,45
700,Ebad El Rahman,22

In [3]:
--2.Create a view that displays the project number and name along with the name of the department managing the project, 
--ordered by project number

create view project_with_Department
as(
select proj.Pnumber, proj.Pname, dep.Dname
from Project proj
join Departments as dep
on dep.Dnum = proj.Dnum
order by proj.Pnumber
OFFSET 0 ROWS)

: Msg 1033, Level 15, State 1, Procedure project_with_Department, Line 7
The ORDER BY clause is invalid in views, inline functions, derived tables, subqueries, and common table expressions, unless TOP, OFFSET or FOR XML is also specified.

In [5]:
select * from project_with_Department

Pnumber,Pname,Dname
100,AL Solimaniah,DP1
200,Al Rabwah,DP1
300,Al Rawdah2,DP1
400,Al Rowad,DP2
500,Al Rehab,DP3
600,Pitcho american,DP3
700,Ebad El Rahman,DP2

In [6]:
--3.Create a view that shows the project name and location along with the total number of employees working on each project.
create view Prpjects_with_Number_Of_Empoyee
as
select proj.Pname, proj.Plocation, count(wf.ESSn) as 'Total Number of Employees'
from Project proj
join Works_for wf
on proj.Pnumber = wf.Pno
group by proj.Pname, proj.Plocation

In [7]:
SELECT * from Prpjects_with_Number_Of_Empoyee

Pname,Plocation,Total Number of Employees
Al Rabwah,6th of October City,1
AL Solimaniah,Cairo_Alex Road,2
Al Rowad,Cairo_Faiyom Road,3
Pitcho american,Maady,2
Al Rehab,Nasr City,3
Ebad El Rahman,Ring Road,2
Al Rawdah2,Zaied City,4

In [8]:
--4.Create a view that displays the department number, name, and the number of employees in each department.
create view Departments_with_Number_of_Employee as
select dep.Dname, dep.Dnum, COUNT(emp.ssn)as Number_of_Employees_In_Departments
from Departments dep
join Employee emp
on dep.Dnum = emp.Dno
group by dep.Dname, dep.Dnum

In [10]:
select * from Departments_with_Number_of_Employee

Dname,Dnum,Number_of_Employees_In_Departments
DP1,10,1
DP2,20,2
DP3,30,4

In [14]:
--5. Create a view that shows the names of employees who work on more than one project, along with the count of projects they work on.
ALTER view Employees_IN_Many_Projects 
as
select ESSn, emp.Fname ,count(essn) as Number_Of_Projects
from Works_for wf
join Employee emp
on emp.SSN = wf.ESSn
group by Essn, emp.Fname 
having count(essn) > 1

In [15]:
select * from Employees_IN_Many_Projects

ESSn,Fname,Number_Of_Projects
223344,Kamel,4
512463,Edward,2
521634,Maged,4
669955,Mariam,3
968574,Noha,3

In [16]:
--6. Create a view that displays the average salary of employees in each department, along with the department name.
create view Average_Of_Departments_Salarys 
as
select dep.Dname, avg(emp.Salary) Average_Of_Salarys
from Departments dep
join Employee emp
on dep.Dnum = emp.Dno
group by dep.Dname

In [17]:
select * from Average_Of_Departments_Salarys

Dname,Average_Of_Salarys
DP1,1800
DP2,1175
DP3,2300

In [12]:
--7. Create a view that lists the names and age of employees and their dependents in a single result set. 
--The age should be calculated based on the current date.
create view EMP_DEP_LIST AS
select emp.Fname as Name, year(GETDATE()) - year(emp.Bdate) AS Current_Age from Employee emp
union 
select dep.Dependent_name as Name,  year(GETDATE()) - year(dep.Bdate) AS Current_Age from Dependent dep

In [1]:
select * from EMP_DEP_LIST

Name,Current_Age
Ahmed,28
Ahmed Kamel Shawki,25
Amr,60
Edward,51
Hala Saied Ali,53
Hanaa,50
Kamel,53
Maged,43
Mariam,41
Mona Adel Mohamed,48
Nahe,22
Noha,48
Nora Ghaly,47
Omar Amr Omran,30
Ramy Amr Omran,33
Sanaa Gawish,50
Sara Edward,22
Sohila,22

In [18]:
--8.Create a view that displays the names of employees who have dependents, along with the number of dependents each employee has.
create view Number_Of_emp_Dependents
as
select emp.Fname, count(dep.essn) as Number_Of_Dependents
from  Employee emp
join Dependent dep 
on emp.SSN = dep.ESSN
group by emp.Fname

In [19]:
select * from Number_Of_emp_Dependents

Fname,Number_Of_Dependents
Ahmed,1
Amr,3
Edward,2
Kamel,2

In [9]:
/*9.Create a new user defined data type named loc with the following Criteria:
•nchar(2)
•default: NY 
•create a rule for this data type : values in (NY,DS,KW)) and associate it to the location column 
	in new table named project2 with (name ,location)
*/
CREATE RULE loc11 AS @name IN ('NY', 'DS', 'KW');
-- Create the user-defined data type 'loc' based on nchar(2)
CREATE TYPE loc11 FROM nchar(2) not null;
-- Create a rule named 'vals' for the 'name' column

-- Create the 'Project2' table with columns 'name' and 'location'
CREATE TABLE Project22
(
    name varchar(10) not null,
    location loc11 DEFAULT 'NY'
    
);
--CONSTRAINT Ck_location check (location IN ('NY', 'DS', 'KW') )

: Msg 156, Level 15, State 1, Procedure loc1, Line 3
Incorrect syntax near the keyword 'CREATE'.

In [10]:
select * from Project22

name,location
NY,NY

In [16]:
create view high_salary_emp_in_dep as
SELECT emp.Fname + ' ' + emp.Lname AS Full_Name,
       emp.Salary,
       dep.Dname AS Department_Name
FROM Employee emp
JOIN Departments dep ON emp.Dno = dep.Dnum
WHERE emp.Salary > (
    SELECT AVG(Salary)
    FROM Employee e
    WHERE e.Dno = dep.Dnum
);

In [18]:
select * from high_salary_emp_in_dep

Full_Name,Salary,Department_Name
Noha Mohamed,1600,DP2
Sohila Mohey,3600,DP3
Nahe Ahmed,3100,DP3

In [14]:
--11.	Create a view that displays the names and salaries of employees who earn more than the average 
--salary of their department.
CREATE VIEW high_earning_employees AS

SELECT emp.Fname + ' '+ emp.Lname AS Name, emp.Salary
FROM Employee emp
WHERE emp.Salary > (
    SELECT AVG(Salary)
    FROM Employee e
    WHERE e.Dno = emp.Dno
);

In [15]:
select * from high_earning_employees

Name,Salary
Noha Mohamed,1600
Sohila Mohey,3600
Nahe Ahmed,3100